@page
@model RazorMvcGarage.Pages.Repairs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Repair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Repair.ID" />
            <div class="form-group">
                <label asp-for="Repair.Vehicle" class="control-label"></label>
                <input asp-for="Repair.Vehicle" class="form-control" />
                <span asp-validation-for="Repair.Vehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.RepairDate" class="control-label"></label>
                <input asp-for="Repair.RepairDate" class="form-control" />
                <span asp-validation-for="Repair.RepairDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.RepairType" class="control-label"></label>
                <input asp-for="Repair.RepairType" class="form-control" />
                <span asp-validation-for="Repair.RepairType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Miles" class="control-label"></label>
                <input asp-for="Repair.Miles" class="form-control" />
                <span asp-validation-for="Repair.Miles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Workshop" class="control-label"></label>
                <input asp-for="Repair.Workshop" class="form-control" />
                <span asp-validation-for="Repair.Workshop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Workdone" class="control-label"></label>
                <input asp-for="Repair.Workdone" class="form-control" />
                <span asp-validation-for="Repair.Workdone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
