@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This application persists data in a Microsoft SQL Server 2017 instance running on Linux.</p>
