@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    100 E. Davie Street<br />
    Raleigh, NC - 27601<br />
    <abbr title="Phone">P:</abbr>
    1-888-RED-HAT1
</address>

<address>
    <strong>Customer Service:</strong> <a href="mailto:customerservice@redhat.com">customerservice@redhat.com</a><br />
    <!-- <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a> -->
</address>
