@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA - 98052<br />
    <abbr title="Phone">P:</abbr>
    1-800-642-7676
</address>

<address>
    <!-- <strong>Customer Service:</strong> <a href="mailto:customerservice@redhat.com">customerservice@redhat.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a> -->
</address>
